@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,700&display=swap');
:root{
    --white-color: #fff;
    --black-color: #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all 0.2s linear;
    scroll-behavior: smooth;
}

html{
    /* HACK 1rem = 10px*/
    font-size: 62.5%;
    line-height: 1.6px;
    scroll-behavior: smooth;
}

body{
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    display: flex;
}

.main{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container__full{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.container{
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}

.subheader{
    width: 100%;
    background-color: #1A1A1A;
}

.subheader__wrap{
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subheader__list{
    font-size: 14px;
    line-height: 21px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    color: #FFFFFF;
}

.subheader__item{
    list-style: none;
    margin-right: 35px;
    display: flex;
    align-items: center;
}

.subheader__item img{
    margin-right: 10px;
}

.subheader__list--socials img{
    margin-right: 23px;
}

.subheader__list-language span{
    margin-right: 5px;
}

.subheader__list-language img{
    margin-right: 0;
}

.header{
    width: 100%;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo{
    margin-right: 33px;
}

.header__list{
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;

    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #000000;
}

.header__item{
    list-style: none;
    margin-right: 15px;
}

.header__search{
    margin-left: 21px;
}

.youtube{
    background: #C4C4C4;
    display: flex;
    height: 528px;
}

.youtube__logo{
    margin: auto;
}

.intro{
    display: flex;
    justify-content: space-between;
    padding: 66px 0 44px 0;
}

.intro__list:nth-child(1){
    margin-right: 110px;
}

.intro__list:nth-child(2){
    margin-right: 87px;
}

.intro__list-header span{
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom: 12px;
    display: block;
    color: #000000;
}

.intro__list-header--first span{
    margin-bottom: 23px;
}

.intro__list-des{
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
}

.intro__list-des--first{
    width: 350px;
}

.intro__list-des--second{
    width: 285px;
}

.intro__list-des--second p:nth-child(2){
    margin-top: 30px;
}

.intro__list-more{
    width: 71.4%;
    height: 45px;
    padding: 0 30px;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin-top: 21px;
    color: #000000;

    background-color: #ECECEC;
    border-radius: 20px;
    
}

.intro__list-item{
    position: relative;
}

.intro__list-item--first{
    margin-top: 42px;
}

.intro__list-item--second{
    margin-top: 30px;
}

.intro__list-item img{
    position: absolute;
    top: 0;
    left: -68px;
}

.service{
    padding: 44px 0 47px 0;
    text-align: center;
}

.service__header-wrap{
    color: #000000;

}

.service__header{
    font-weight: bold;
    font-size: 36px;
    line-height: 54px; 
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 12px;
}

.service__des{
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    padding: 0 270px;
    margin-bottom: 80px;
}

.service__list{
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}

.service__list-item{
    color: #000000;
    flex: 0 0 31.33333%;
    /* max-width: 33.33333%; */
}

.service__list-item img{
    width: 100%;
    height: 175px;
    object-fit: cover;
}

.service__list-item--text{
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    margin: 24px 0;
}

.service__list-item--detail{
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
}

.recommend{
    position: relative;
    height: 618px;
}

.recommend__list{
    width: 37.8%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #D71A21;
    padding: 87px 30px 122px 165px;
}

.recommend__list h1{
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    margin: 0;
    margin-bottom: 32px;
    color: #FFFFFF;
}

.recommend__list p{
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 42px;
    color: #FFFFFF;
}

.recommend__img img:nth-child(1){
    margin-right: 22px;
}

.recommend__bgc{
    position: absolute;
    top: 0;
    left: 37.8%;
    width: 62.2%;

    background: url(../img/re1.jpg) 32% / cover no-repeat;
    padding-top: 42.92%;
}

.slider{
    width: 100%;
    padding: 77px 0;

}

.slider__header{
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
}

.slider__list{
    display: flex;
    gap: 30px;
    position: relative;
}

.slider__list-item{
    flex: 0 0 23%;
    max-width: 23%;
    background-color: #F0FCFB;
    text-align: center;
    padding: 23px 26px 31px 26px;
}

.slider__list-item span{
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #000000;
    display: block;
    margin-bottom: 7px;
    
}

.slider__list-item p{
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

.slider__icon{
    position: absolute;
    top: 50%;
    right: -26px;
    left: -26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.people{
    padding: 74px 0 150px 0;
    text-align: center;
}

.people__header{
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 48px;
    color: #000000;
}

.people__list{
    display: flex;
    gap: 32px;
    flex-wrap: wrap;    
}

.people__list-item{
    flex: 0 0 31.33333%;
    position: relative;
}

.people__details{
    position: absolute;
    right: 0;
    left: 0;
    bottom: -63px;
    background: #fff;
    width: 220px;
    margin: auto;
    padding: 18px 17px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.people__details span{
    display: block;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #000000;
}

.people__details p{
    font-size: 14px;
    line-height: 21px; 
    color: #000000; 
}

.contact{
    background-color: #D71A21;
    padding: 55px 165px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact__text{
    padding-right: 20px;
}

.contact__text span{
    display: block;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 24px;
    color: #FFFFFF; 
}

.contact__text p{
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    width: 300px;
}

.contact__btn{
    padding: 10px 45px;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #000000;
    background: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}

.locations{
    padding: 76px 0 73px 0;
}

.locations__list{
    display: flex;
    gap: 30px;
}

.locations__list-item{
    flex: 0 0 23%;
    max-width: 23%;
    display: flex;
    color: #000000;
}

.locations__list-item--dash{
    height: 1px;
    width: 106px;
    background-color: #D71A21;
    margin-right: 30px;
    margin-top: 10px;
}

.locations__list-item--details h2{
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 18px;
}

.locations__list-item--details p{
    font-weight: normal;
    font-size: 16px;
    line-height: 21px; 
    margin-bottom: 10px;
}

.locations__list-item--details span{
    display: block;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
}

.footer{
    height: 114px;
    text-align: center;
    color: #000000;
}

.footer h1{
    font-weight: bold;
    font-size: 24px;
    line-height: 54px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;
}

.footer span{
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;  
    text-transform: uppercase;
}

.socials{
    position: fixed;
    bottom: 0;
    right: 39px; 
}

.socials__list{
    display: flex;
    flex-direction: column;
}

.socials__list img{
    margin-bottom: 20px;
    cursor: pointer;
}







